<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team16.sopra.sopra16team16">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_web"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.NewContactActivity"
            android:label="ContactEditor"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".View.ContactViewerActivity"
            android:label="ConctactViewer"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".View.FilterActivity"
            android:label="Filter"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>